<!DOCTYPE html>
<html>

<%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <section>
        <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
    </section>
    
    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>

            <div class="products">
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% }) %>
            </div>

        </section>

        <section class="offers">
            <h3>Ofertas</h3>

            <div class="products">
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% }) %>
            </div>  

        </section>
    </main>

    <%- include('partials/footer') %>
    
</body>

</html>